.opt5 section.hero {
    opacity: 1;
    height: auto;
    padding: 3rem 0 18rem;
  }
  
.opt5-hero {
    background-image: url('//useruploads.visualwebsiteoptimizer.com/useruploads/344041/images/43109c93cf3657bd0616e150006ae901_v1.jpg')!important;	
    background-repeat: no-repeat;
    background-position: bottom;
  }

.opt5-view section.hero {
    opacity: 0;
    height: 0px;
    padding: 0px;
  }
  
.opt5-view section.hero {
    -moz-transition: 0.4s all ease-in-out;
    -webkit-transition: 0.4s all ease-in-out;
    transition: 0.4s all ease-in-out;
    text-align: center;
  }
  
.opt5-view section.opt5-hero {
      opacity: 1;
        height: auto;
        padding: 3rem 0 18rem;
  }
  
  .opt5-view .hero h2 {
      text-align: center;
      top: -90px;
      position: relative;
  }
  
.opt5-view .hero a.btn {
        display: none!important;
  }
  
.opt5-view .hero a.opt5-link {
        display: none!important;
  }
  
.opt5-view .hero a.opt5-link:last-child {
        display: inline-block!important;
  }
  
.opt5-view .hero a.opt5-link {
      top: -90px;
      position: relative;
      text-transform: uppercase;
      font-family: Brandon Grotesque,sans-serif;
      letter-spacing: .8px;
      letter-spacing: .05rem;
      padding: 11px 30px 10px;
      border: none;
      color: #fff;
      background: #858385;
      font-weight: 900;
      display: table;
      text-decoration: none;
      cursor: pointer;
      border-radius: .2rem;
      -webkit-transition: all .3s ease;
      transition: all .3s ease;
      margin-top: 16px;
      margin-top: 1rem;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      background-color: #357a80;
  }
  
.opt5-view .hero .opt5-link:hover {
    background-color: #215b69;
  }
  
@media (max-width: 989px) {
.opt5-view .hero h2 {
      top: 0;
  }
  
  .opt5-view .hero a.opt5-link {
      top: 0;
  }
}
  
@media only screen and (min-width: 770px) {
.opt5 section.hero {
    padding: 4rem 0 20rem;
  }
    
.opt5-view section.hero {
    padding: 0px;
  }
    
.opt5-view section.opt5-hero {
    padding: 4rem 0 20rem;
  }
}
  
@media only screen and (min-width: 990px) {
.opt5 section.hero {
    padding: 8rem 0 28rem 60px;
  }
    
.opt5-view section.hero {
    padding: 0px;
  }
    
.opt5-view section.opt5-hero {
    padding: 8rem 0 28rem 60px;
  }
}
  
@media only screen and (min-width: 1400px) {
.opt5 section.hero {
    padding: 8rem 0 28rem;
  }
    
.opt5-view section.hero {
    padding: 0px;
  }
    
.opt5-view section.opt5-hero {
    padding: 8rem 0 28rem;
  }
}
    
@media only screen and (min-width: 1600px) {
.opt5 section.hero {
    padding: 8rem 0 40rem;
  }
    
.opt5-view section.hero {
    padding: 0px;
  }
    
.opt5-view section.opt5-hero {
    padding: 8rem 0 40rem;
  }
}